<section class="photo-gallery py-4 py-xl-5">
    <div class="container">
        
                
                    {{ range .Data.Pages.ByWeight }}
                    <div class="wp-caption" style="max-width:{{ .Params.width }}px">
                        
                            <a href="{{ .Permalink }}">
                                <img class="img-fluid" src="{{ .Params.frontimg }}" >
                                <span><br>{{ .Title }}<br></span>
                            </a>
                       
                    </div>
                    {{ end }}
                
    </div>
</section>
