<div class="container h-100 position-relative cards-sections">
    <div class="row gy-5 gy-lg-0 row-cols-1 row-cols-md-2 row-cols-lg-3 action-calls">
        <div class="col testi action-call first">
            <div class="text-center">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">WHAT OUR CLIENTS ARE SAYING</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>

            </div>
            <div class="card-btn"><a href="/testimonials/" class="action-btn ab-1">SEE MORE TESTIMONIALS</a></div>
        </div>
        <div class="col get_started action-call middle">
            <div class="text-center">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">REQUEST FREE CONSULTATION</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>
            </div>
            <div class="card-btn">
                <a href="#contact" class="action-btn ab-2 contact-scroll">GET STARTED</a>
            </div>
        </div>
        <div class="col evaluation action-call last">
            <div class="text-center">
                <h5 class="text-center" style="font-weight: bold;"><span style="color: rgb(209, 158, 77);">WE GET RESULTS</span><br></h5>
                <p class="text-center" style="color: rgb(255,255,255);">Samantha is an incredibly amazing attorney! My case initially caused my family and I an overwhe...</p>
            </div>
              <div class="card-btn">
                <a href="#contact" class="action-btn ab-3 contact-scroll">Free case evaluation</a>
            </div>
        </div>
    </div>
</div>

<section class="text-center photo-gallery py-4 py-xl-5">
    <div class="container-fluid p-0" style="height: 100%;">
        <div class="row g-0 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center photos" data-bss-baguettebox="">
            <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="/img/Sevens-Legal-Awards2.png"></a></div>
            <div class="col item"><a href="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"><img class="img-fluid" src="/img/sevens-legal-awards1.png"></a></div>
        </div>
    </div>
</section>