<style>
    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        color: inherit;
    }
</style>

<footer class="text-center py-4" style="background: #D7A556;">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col-4 text-start">
                <h2 class="text-start">SAN DIEGO CRIMINAL DEFENSE ATTORNEYS</h2>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">SEVENS LEGAL, APC<br>3555 FOURTH AVE,<br>SAN DIEGO, CA 92103<br>PHONE: (619) 430-2355</p><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="https://www.google.com/maps/place/Sevens+Legal,+APC/@33.1125565,-117.0980729,17z/data=!3m1!4b1!4m5!3m4!1s0x80dbf48e93d388db:0x9d661379896854be!8m2!3d33.1125565!4d-117.0958842">CLICK HERE FOR DIRECTIONS</a></span>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.8773401448425!2d-117.1635884848189!3d32.7424475809825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9552574d2cd71%3A0xbb4c889ccb39704b!2sSevens%20Legal%2C%20APC!5e0!3m2!1sen!2sus!4v1666733889617!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.8773401448425!2d-117.1635884848189!3d32.7424475809825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9552574d2cd71%3A0xbb4c889ccb39704b!2sSevens%20Legal%2C%20APC!5e0!3m2!1sen!2sus!4v1666733889617!5m2!1sen!2sus" data-ll-status="loaded" class="entered lazyloaded"></iframe>
            </div>
            <div class="col-5 text-center d-flex justify-content-center align-items-center align-content-center">
                <div class="d-flex justify-content-between"><img src="/img/1fb.png" style="margin: 5px;"><img src="/img/1google.png" style="margin: 5px;"><img src="/img/1tw.png" style="margin: 5px;"><img src="/img/1yelp.png" style="margin: 5px;"><img src="/img/1in.png" style="margin: 5px;"></div>
            </div>
            <div class="col-3 text-start">
                <h2 class="text-start"><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="/defense/">ESCONDIDO </a></span></h2>
                <p class="text-start text-dark my-2" style="font-weight: bold;color: rgb(0,0,0);">500 LA TERRAZA BLVD.<br>SUITE 150,<br>ESCONDIDO, CA 92025<br>PHONE: (760) 973-4005</p><span class="text-start" style="color: #ae7a27;font-weight: bold;"><a href="https://www.google.com/maps/place/Sevens+Legal,+APC/@33.1125565,-117.0980729,17z/data=!3m1!4b1!4m5!3m4!1s0x80dbf48e93d388db:0x9d661379896854be!8m2!3d33.1125565!4d-117.0958842">CLICK HERE FOR DIRECTIONS</a></span>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.867903941369!2d-117.09807288480945!3d33.11255648087189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf48e93d388db%3A0x9d661379896854be!2sSevens%20Legal%2C%20APC%20-%20Criminal%20Lawyers!5e0!3m2!1sen!2sus!4v1666737485521!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.867903941369!2d-117.09807288480945!3d33.11255648087189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf48e93d388db%3A0x9d661379896854be!2sSevens%20Legal%2C%20APC%20-%20Criminal%20Lawyers!5e0!3m2!1sen!2sus!4v1666737485521!5m2!1sen!2sus" data-ll-status="loaded" class="entered lazyloaded"></iframe>
				
            </div>
        </div>
		
    </div>
</footer>

{{ partial "sub-footer" . }}