<style>
    ul li a:hover {
        background-color: #b78639;
        color: white !important;
    }
</style>
<div class="navigation-main">
<div class="container">
    <nav class="navbar sticky-top navbar-light navbar-expand-md text-bg-secondary" style="position: sticky;display: inline;">
        <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-uppercase" id="navcol-1">
                <ul class="navbar-nav d-flex">
                    
					{{ $url := .URL }}
{{ range .Site.Menus.main -}}
  <li class="nav-item">
      <a {{ if eq $url .URL }} class=" nav-link active"{{ else }} class="nav-link"  {{ end }} href="{{ .URL | relLangURL }}">{{ .Name }}</a>
  </li>
{{ end -}}
                </ul>
            </div>
        </div>
    </nav>
</div>
</div>