<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head" . }}


    <style>

        .ti {
            font-size: 22px;
            padding: 10px;
            background-color: #dcaa5c;
            color: black;
        }

        .ti:hover {
            color: white;
            cursor: pointer;
        }

    </style>

</head>

<body>
    {{ partial "header" . }}
    {{ partial "banner" . }}
    {{ partial "awards" . }}
    {{ partial "breadcrums" . }}
    <div id="empresa" style="padding:20px;margin:1px;">
        <div class="container">
            <div class="row">
                <div class="col {{ .Title }}">
                    {{ if eq .Params.image_align 'left' }}
                     <span class="image-single align-left"><img width="100%" src="{{ .Params.src }}"></span> 
                     {{ else }}
                    <h1>{{ .Title }}
                    <span class="image-single"><img width="100%" src="{{ .Params.src }}"></span> 
                    </h1>
                    {{ end }}
                    <div class="attorney_content">
                        <p>{{ .Content }}</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    </div>
    {{ partial "practice-areas" . }}
    {{ partial "getin-touch" . }}
    {{ partial "footer" . }}
    {{ partial "scripts" . }}
</body>

</html>